project:
  type: website

website:
  title: "simple-classification-iris"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - href: Analysis.ipynb
        text: Analysis

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



